ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

// ngb-carousel .wrapper>img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
// }
::ng-deep .carousel-control-prev-icon,
::ng-deep .carousel-control-next-icon {
  filter: invert(1);
}

::ng-deep .carousel-indicators [data-bs-target] {
  filter: invert(1);
}
::ng-deep .carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;

  background-color: black;      /* centro negro */
  border: 2px solid white;      /* borde blanco */

  opacity: 0.6;
}

::ng-deep .carousel-indicators .active {
  background-color: white;   /* cambia el centro */
  border: 2px solid black;
  opacity: 1;
}
