@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';
@use "sass:map";

$nb-themes: nb-register-theme((
  color-primary-100: #256e9f,
  color-primary-200: #215b82,
  color-primary-300: #15537c,
  color-primary-400: #0e4b74,
  color-primary-500: #093C5D,
  color-primary-600: #073655,
  color-primary-700: #052e49,
  color-primary-800: #043251,
  color-primary-900: #04273e,
  color-primary-transparent-100:	rgba(161, 110, 255, 0.08),
  color-primary-transparent-200:	rgba(161, 110, 255, 0.16),
  color-primary-transparent-300:	rgba(161, 110, 255, 0.24),
  color-primary-transparent-400:	rgba(161, 110, 255, 0.32),
  color-primary-transparent-500:	rgba(161, 110, 255, 0.4),
  color-primary-transparent-600:	rgba(161, 110, 255, 0.48),
  color-success-100:	#b6fcee,
  color-success-200:	#9bfce8,
  color-success-300:	#86f7e1,
  color-success-400:	#6ff6db,
  color-success-500:	#5DF8D8,
  color-success-600:	#45fbd6,
  color-success-700:	#29f9cf,
  color-success-800:	#16facc,
  color-success-900:	#08f7c7,
  color-success-transparent-100: rgba(227, 199, 103, 0.08),
  color-success-transparent-200: rgba(227, 199, 103, 0.16),
  color-success-transparent-300: rgba(227, 199, 103, 0.24),
  color-success-transparent-400: rgba(227, 199, 103, 0.32),
  color-success-transparent-500: rgba(227, 199, 103, 0.4),
  color-success-transparent-600: rgba(227, 199, 103, 0.48),
  color-info-100: #baf9fc,
  color-info-200: #94e6ea,
  color-info-300: #8fdfe3,
  color-info-400: #7fd7dc,
  color-info-500: #6FD1D7,
  color-info-600: #64c3c8,
  color-info-700: #50afb4,
  color-info-800: #3fa3a8,
  color-info-900: #2f8f94,
  color-info-transparent-100: rgba(0, 132, 135, 0.08),
  color-info-transparent-200: rgba(0, 132, 135, 0.16),
  color-info-transparent-300: rgba(0, 132, 135, 0.24),
  color-info-transparent-400: rgba(0, 132, 135, 0.32),
  color-info-transparent-500: rgba(0, 132, 135, 0.4),
  color-info-transparent-600: rgba(0, 132, 135, 0.48),
  color-warning-100: #f7e1b1,
  color-warning-200: #f1d596,
  color-warning-300: #edcb82,
  color-warning-400: #ebc36b,
  color-warning-500: #E0B457,
  color-warning-600: #c69a3c,
  color-warning-700: #b58d35,
  color-warning-800: #ab7d19,
  color-warning-900: #9b6c07,
  color-warning-transparent-100: rgba(232, 154, 0, 0.08),
  color-warning-transparent-200: rgba(232, 154, 0, 0.16),
  color-warning-transparent-300: rgba(232, 154, 0, 0.24),
  color-warning-transparent-400: rgba(232, 154, 0, 0.32),
  color-warning-transparent-500: rgba(232, 154, 0, 0.4),
  color-warning-transparent-600: rgba(232, 154, 0, 0.48),
  color-danger-100: #f8bfcc,
  color-danger-200: #f4a3b6,
  color-danger-300: #ea889f,
  color-danger-400: #dc6d87,
  color-danger-500: #D15874,
  color-danger-600: #c94866,
  color-danger-700: #ac2f4c,
  color-danger-800: #b12545,
  color-danger-900: #8b0726,
  color-danger-transparent-100: rgba(196, 52, 39, 0.08),
  color-danger-transparent-200: rgba(196, 52, 39, 0.16),
  color-danger-transparent-300: rgba(196, 52, 39, 0.24),
  color-danger-transparent-400: rgba(196, 52, 39, 0.32),
  color-danger-transparent-500: rgba(196, 52, 39, 0.4),
  color-danger-transparent-600: rgba(196, 52, 39, 0.48)
), light, default);

$nb-themes: nb-register-theme((
  color-primary-100: #256e9f,
  color-primary-200: #215b82,
  color-primary-300: #15537c,
  color-primary-400: #0e4b74,
  color-primary-500: #093C5D,
  color-primary-600: #073655,
  color-primary-700: #052e49,
  color-primary-800: #043251,
  color-primary-900: #04273e,
  color-primary-transparent-100:	rgba(161, 110, 255, 0.08),
  color-primary-transparent-200:	rgba(161, 110, 255, 0.16),
  color-primary-transparent-300:	rgba(161, 110, 255, 0.24),
  color-primary-transparent-400:	rgba(161, 110, 255, 0.32),
  color-primary-transparent-500:	rgba(161, 110, 255, 0.4),
  color-primary-transparent-600:	rgba(161, 110, 255, 0.48),
  color-success-100:	#b6fcee,
  color-success-200:	#9bfce8,
  color-success-300:	#86f7e1,
  color-success-400:	#6ff6db,
  color-success-500:	#5DF8D8,
  color-success-600:	#45fbd6,
  color-success-700:	#29f9cf,
  color-success-800:	#16facc,
  color-success-900:	#08f7c7,
  color-success-transparent-100: rgba(227, 199, 103, 0.08),
  color-success-transparent-200: rgba(227, 199, 103, 0.16),
  color-success-transparent-300: rgba(227, 199, 103, 0.24),
  color-success-transparent-400: rgba(227, 199, 103, 0.32),
  color-success-transparent-500: rgba(227, 199, 103, 0.4),
  color-success-transparent-600: rgba(227, 199, 103, 0.48),
  color-info-100: #baf9fc,
  color-info-200: #94e6ea,
  color-info-300: #8fdfe3,
  color-info-400: #7fd7dc,
  color-info-500: #6FD1D7,
  color-info-600: #64c3c8,
  color-info-700: #50afb4,
  color-info-800: #3fa3a8,
  color-info-900: #2f8f94,
  color-info-transparent-100: rgba(0, 132, 135, 0.08),
  color-info-transparent-200: rgba(0, 132, 135, 0.16),
  color-info-transparent-300: rgba(0, 132, 135, 0.24),
  color-info-transparent-400: rgba(0, 132, 135, 0.32),
  color-info-transparent-500: rgba(0, 132, 135, 0.4),
  color-info-transparent-600: rgba(0, 132, 135, 0.48),
  color-warning-100: #f7e1b1,
  color-warning-200: #f1d596,
  color-warning-300: #edcb82,
  color-warning-400: #ebc36b,
  color-warning-500: #E0B457,
  color-warning-600: #c69a3c,
  color-warning-700: #b58d35,
  color-warning-800: #ab7d19,
  color-warning-900: #9b6c07,
  color-warning-transparent-100: rgba(232, 154, 0, 0.08),
  color-warning-transparent-200: rgba(232, 154, 0, 0.16),
  color-warning-transparent-300: rgba(232, 154, 0, 0.24),
  color-warning-transparent-400: rgba(232, 154, 0, 0.32),
  color-warning-transparent-500: rgba(232, 154, 0, 0.4),
  color-warning-transparent-600: rgba(232, 154, 0, 0.48),
  color-danger-100: #f8bfcc,
  color-danger-200: #f4a3b6,
  color-danger-300: #ea889f,
  color-danger-400: #dc6d87,
  color-danger-500: #D15874,
  color-danger-600: #c94866,
  color-danger-700: #ac2f4c,
  color-danger-800: #b12545,
  color-danger-900: #8b0726,
  color-danger-transparent-100: rgba(196, 52, 39, 0.08),
  color-danger-transparent-200: rgba(196, 52, 39, 0.16),
  color-danger-transparent-300: rgba(196, 52, 39, 0.24),
  color-danger-transparent-400: rgba(196, 52, 39, 0.32),
  color-danger-transparent-500: rgba(196, 52, 39, 0.4),
  color-danger-transparent-600: rgba(196, 52, 39, 0.48)
), dark, dark);

